@media all and (max-width: 1000px) {
    .list-wrappers {
      width: 50%;
      margin-bottom: 50px;
    }
    
    h1 {
      font-size: 32px;
    }
    
    .container h2 {
      font-size: 20px;
    }
  }
  
  @media all and (max-width: 670px) {
    .list-wrappers {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .list-wrappers {
      text-align: left;
    }
    
    
    .header-right {
      display: none;
    }
    
   
    li {
    display: block;
   
  }
    
    .top-wrapper {
      font-size: 24px;
      line-height: 36px;
    }
    
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }  
